<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.bonial.mushopl.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <display-name>ProductsServlet</display-name>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>com.bonial.mushopl.servlet.ProductsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.bonial.mushopl.SpringApplicationContextListener</listener-class>
    </listener>

</web-app>
